body{
	margin: 0;
	padding: 0;
	background: #b1d4fc;
	/* background: linear-gradient(to bottom right, #E3F0FF, #FAFCFF); */
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
  width: 100%;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.InstructionsImg {
	width: 300px;
}

.divEmpty {
	align-items: center;
	text-align: left;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.divEmpty h1 {
	margin-bottom: 1rem;
}

.divEmpty p {
	color: #737374;
	font-size: 1.25rem;
	margin-bottom: 1rem;
}

.BasketDiv{
	background-color: #FAFCFF;
    border-radius: 20px;
    box-shadow: 0px 10px 20px #1687d933;
  padding: 2rem;
  margin:  1rem auto;
}

img {
  width: 100px;
}

.Header h1 {
	margin-bottom: 1rem;
}

h1 {
	font-size: 2rem;
	line-height: 2.2rem;
	font-family: 'Open Sans';
	font-weight: 800;
	color: #202020;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.7rem;
	font-family: 'Open Sans';
	font-weight: 700;
	color: #202020;
}

h3 {
  font-size: 1.3rem;
  line-height: 1.5rem;
  font-family: 'Open Sans';
  font-weight: 800;
  color: #202020;
}

p {
	font-size: 1.1rem;
	line-height: 1.3rem;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #909090;
}

.Header{
	margin: 0 auto 1rem;
	width: 90%;
	height: 15%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.description {
  margin-top: 0.1rem;
}

.item-row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
  
.image-box { grid-area: 1 / 1 / 4 / 2; }

.about { 
  grid-area: 1 / 2 / 4 / 6;
  margin: 0 2rem; 
}

.amount { 
  grid-area: 1 / 6 / 4 / 7; 
  text-align: right;
}

.price {
  margin-top: 0.35rem;
}


/* ************* Footer **************** */


hr{
	width: 80%;
	float: right;
}

.total{
  margin-top: 0.5rem;
	width: 100%;
	display: flex;
	justify-content: right;
}

.items{
	font-size: 16px;
	font-family: 'Open Sans';
	font-weight: 500;
	color: #909090;
	line-height: 10px;
}

.totalAmount{
  margin-left: 1rem;
}

hr {
	margin-bottom: 1rem;
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 768px) {
	.item-row {
		grid-template-columns: 1fr;
	}

	.full {
		text-align: center;
		padding: 1rem;
	}

	.divEmpty {
		display: flex;
		flex-direction: column;
		justify-items: center;
	}

	.divEmpty img {
		width: 20rem;
		margin-bottom: 3rem;
	}

	.divEmpty p {
		font-size: 1.5rem;
		line-height: 1.8rem;
		text-align: justify;
	}

	.BasketDiv img {
		width: 3rem;
	}

	.item-row {
		margin-bottom: 1.5rem;
	}

	h1 {
		font-size: 1.7rem;
	}

	h3 {
		font-size: 1.25rem;
	}
}

